@charset 'UTF-8';
.smarthint .slick-loading .slick-list,
.modal-open .slick-loading .slick-list {
    background: url(ajax-loader.gif) center center no-repeat #fff
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/slick.eot);
    src: url(fonts/slick.eot?#iefix) format('embedded-opentype'), url(fonts/slick.woff) format('woff'), url(fonts/slick.ttf) format('truetype'), url(fonts/slick.svg#slick) format('svg')
}

.smarthint .slick-next,
.smarthint .slick-prev,
.modal-open .slick-next,
.modal-open .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.smarthint .slick-next:focus,
.smarthint .slick-next:hover,
.smarthint .slick-prev:focus,
.smarthint .slick-prev:hover,
.modal-open .slick-next:focus,
.modal-open .slick-next:hover,
.modal-open .slick-prev:focus,
.modal-open .slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0
}

.smarthint .slick-next:focus:before,
.smarthint .slick-next:hover:before,
.smarthint .slick-prev:focus:before,
.smarthint .slick-prev:hover:before,
.modal-open .slick-next:focus:before,
.modal-open .slick-next:hover:before,
.modal-open .slick-prev:focus:before,
.modal-open .slick-prev:hover:before {
    opacity: 1
}

.smarthint .slick-next.slick-disabled:before,
.smarthint .slick-prev.slick-disabled:before,
.smarthint .slick-next.slick-disabled:before,
.smarthint .slick-prev.slick-disabled:before,
.modal-open .slick-next.slick-disabled:before,
.modal-open .slick-prev.slick-disabled:before,
.modal-open .slick-next.slick-disabled:before,
.modal-open .slick-prev.slick-disabled:before {
    opacity: .25
}

.smarthint .slick-next:before,
.smarthint .slick-prev:before,
.modal-open .slick-next:before,
.modal-open .slick-prev:before {
    color: #000;
    font-family: FontAwesome, Icons;
    font-size: 30px
}

.smarthint .slick-prev,
.modal-open .slick-prev {
    left: -10px
}

.smarthint [dir=rtl] .slick-prev,
.modal-open [dir=rtl] .slick-prev {
    right: -25px;
    left: -10px
}

.smarthint .slick-prev:before,
.modal-open .slick-prev:before {
    content: "\f053"
}

.smarthint .slick-next:before,
.smarthint [dir=rtl] .slick-prev:before,
.modal-open .slick-next:before,
.modal-open [dir=rtl] .slick-prev:before {
    content: "\f054"
}

.smarthint .slick-next,
.modal-open .slick-next {
    right: -10px
}

.smarthint [dir=rtl] .slick-next,
.modal-open [dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.smarthint [dir=rtl] .slick-next:before,
.modal-open [dir=rtl] .slick-next:before {
    content: "\f053"
}

.smarthint .slick-dotted.slick-slider,
.modal-open .slick-dotted.slick-slider {
    margin-bottom: 30px
}

.smarthint .slick-dots,
.modal-open .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.smarthint .slick-dots li,
.modal-open .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px !important;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    float: none !important
}

.smarthint .slick-dots li button,
.modal-open .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.smarthint .slick-dots li button:focus,
.smarthint .slick-dots li button:hover,
.modal-open .slick-dots li button:focus,
.modal-open .slick-dots li button:hover {
    outline: 0
}

.smarthint .slick-dots li button:focus:before,
.smarthint .slick-dots li button:hover:before,
.modal-open .slick-dots li button:focus:before,
.modal-open .slick-dots li button:hover:before {
    opacity: 1
}

.smarthint .slick-dots li button:before,
.modal-open .slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\2022";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.smarthint .slick-dots li.slick-active button:before,
.modal-open .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.smarthint .slick-list,
.modal-open .slick-list {
    margin-left: 10px;
    margin-right: 10px
}